@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Color Theme Swatches in Hex */
$BG-color-1-hex: #424140;
$BG-color-2-hex: #d4cfcd;
$BG-color-3-hex: #827f7e;
$BG-color-4-hex: #52504f;
$BG-color-5-hex: #696665;

@mixin centralizegrid {
    display: grid;
    justify-items: center;
    align-items: center;
}
@mixin centralizeabs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin centralizeflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    @include centralizeabs();

    background-color: $BG-color-1-hex;
    font-family: 'Montserrat', sans-serif;
}

section {
    text-align: center;
    position: relative;

    .video {
        @include centralizeabs();

        pointer-events: none;
        opacity: 0;
        z-index: -1;
        width: 500px;
        border-radius: 10px;
    }

    .text {
        @include centralizeabs();
        @include centralizeflex();

        cursor: pointer;
        width: 250px;
        height: 50px;
        z-index: 2;
        padding: 10px;
        transition: 0.5s all;

        //background and decoration

        box-shadow: 0px 0px 20px black;
        border: 2px solid $BG-color-4-hex;
        border-radius: 10px;
        background-color: $BG-color-2-hex;

        //background and decoration
    }

    .hint {
        transition: 0.8s;
        position: relative;
        width: 500px;
        top: 200px;
        font-style: italic;
        opacity: 0;
    }

    //Transitions//
    .txt_transition {
        width: 500px;
        height: 193.328px;
        padding: 0;
        border-color: black;
        box-shadow: 0 0 0;
        background-color: transparent;
    }

    .vid_transition {
        opacity: 1;
        transition: 0.8s;
    }

    .bg_transition {
        background-color: red;
    }
}
